<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="EndpointPNServerServiceBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="PNServer.RegistrationService">
                <endpoint address="http://localhost/RegistrationService"
                    behaviorConfiguration="EndpointPNServerServiceBehavior" 
                    binding="webHttpBinding"
                    contract="PNServer.IRegistrationService">
                </endpoint>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
